body {
    background: #EEE;
    margin: 0;
    padding: 0;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .login{
    text-align: center;
  }

  .upload{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #694ed6;
    cursor: pointer;
    border-radius: 3px;
    padding: 16px;
    width: 180px;
    color: white;
    font-size: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
  }

  .upload:hover{
    background: white;
    border: #694ed6 solid;
    cursor: pointer;
    border-radius: 3px;
    padding: 16px;
    width: 180px;
    color: #694ed6;
    font-size: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
  }

  .btn{
    border: none;
    background: #694ed6;
    margin: 10px 20px 0 0;
    cursor: pointer;
    border-radius: 3px;
    padding: 16px;
    width: 200px;
    color: white;
    font-size: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  }

  .folder-container{
    position: relative;
    text-align: center;
    color: white;
    float: left;
    margin: 0px 10px 0px 0px;
  }

  .centered {

    font-size: 15px;
    font-weight: bold;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  @media only screen and (max-width: 390px)
  {
    .login{
      width: 100%;
      padding: 16px 0;
    }
    
    .login_btn {
      width: 100%;
    }
  }